.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  

  

  
/* Fonts */
/* Anek-Malayalam */
@font-face {
    font-family: 'anek-ml';
    src: url(/resources/fonts/Anek_Malayalam/AnekMalayalam-VariableFont_wdth\,wght.ttf);
}

/* Font-changa english */
@font-face {
    font-family: 'changaOff';
    src: url(../fonts/Changa/Changa-VariableFont_wght.ttf);
  }
  @import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap');
  
/* font classes */
.malayalam{
    font-family: 'anek-ml',sans-serif !important;
}

.english{
    font-family: 'Changa','changaOff',sans-serif !important;
}

/* widths */
.wd-100{
  width: 100vw;
}

.wd-75{
  width: 75vw;
}

.wd-50{
  width: 50vw;
}

.wd-25{
  width: 25vw;
}

.wd-10{
  width: 10vw;
}


.wd-20{
  width:20vw;
}

.wd-30{
  width: 30vw;
}

.wd-40{
  width: 40vw;
}

.wd-50{
  width: 50vw;
}

.wd-60{
  width: 60vw;
}

.wd-70{
  width: 70vw;
}

.wd-80{
  width: 80vw;
}

.wd-90{
  width: 90vw;
}


.w-fit{
  width: fit-content;
}

/* heights */
.hd-100{
  height: 100vw;
}

.hd-75{
  height: 75vw;
}

.hd-50{
  height: 50vw;
}

.hd-25{
  height: 25vw;
}

.hd-10{
  height: 10vw;
}

.hd-20{
  height:20vw;
}

.hd-30{
  height: 30vw;
}

.hd-40{
  height: 40vw;
}

.hd-50{
  height: 50vw;
}

.hd-60{
  height: 60vw;
}

.hd-70{
  height: 70vw;
}

.hd-80{
  height: 80vw;
}

.hd-90{
  height: 90vw;
}

.h-fit{
  height: fit-content;
}


/* font-weights */
.fw-100{
    font-weight: 100 !important;
}
.fw-200{
    font-weight: 200 !important;
}
.fw-300{
    font-weight: 300 !important;
}
.fw-400{
    font-weight: 400 !important;
}
.fw-500{
    font-weight: 500 !important;
}
.fw-600{
    font-weight: 600 !important;
}
.fw-700{
    font-weight: 700 !important;
}
.fw-800{
    font-weight: 800 !important;
}
.fw-900{
    font-weight: 900 !important;
}
.fw-1000{
    font-weight: 1000 !important;
}


*{
    font-family: 'Changa','changaOff', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100vw;
  }

body{
    padding: 0;
    margin: 0;
    height: fit-content;
    width: fit-content;
}

header{
  width: 100vw;
}

  
.navHead{
  text-decoration: none;
  font-family: 'Changa',sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
}

.nav-item a{
  color: black !important;
  transition: opacity 0.3s;
}

.nav-item a:hover{
  opacity: 0.6;
}

.superHero{
  color: black;
}

.hero{
  min-height: 88vh;
  font-weight: 600;
}

.heroHead{
  opacity: 0.7;
  letter-spacing: 0.2rem;
}

.heroImgDiv{
  background-color: rgb(0, 0, 0);
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
}

.heroImg{
  border: 2px ridge rgb(0, 255, 247);
  border-radius: 12px;
  opacity: 0.8;
}

.heroImgSmall{
    border: 2px ridge rgb(0, 255, 247);
    border-radius: 50;
    opacity: 0.8;

}

.heroBtn:hover{
  color: #ffffff;
}
.carousel-item{
    min-height: 89vh;
    padding: 2%;
}

.text-bold{
  font-weight: 500;
}

.aboutThem{
  font-size: 1rem;
  line-height: 2rem;
  width: fit-content;
}

br{
    line-height: 0.5rem;
}

.aboutThem .mainHead{
  text-wrap: wrap;
  word-wrap: normal;
  width: fit-content;
  max-width: 100vw;
}

.aboutThem p{
  font-family: 'anek-ml',sans-serif;
  width: fit-content;
  max-width: 100vw;
}

/* prayer room */
.vanakkmaasamSection span{
  width: 30px;
}

.letterSpacing{
    letter-spacing: 0.11rem;
}

.blockquote{
    margin: 0;
    border-left: 3px solid red;
    border-bottom-left-radius: 10px;
    padding: 10px;
    background-color: wheat;
    width: fit-content;
}
.hr-default{
    border: 1px solid #00000085;
}

.vanakkmaasamNav span{
  min-width: 35px;
  min-height: 35px;
}

#contentDiv{
  scale: 0.95;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  letter-spacing: 0.1rem;
}

.novenaLuthiniya{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.mainGridImg{
    width: 23vw;
    border: 1px solid;
    border-radius: 2px;
    transition: all 0.5s;
}

.mainGridImg:hover{
    position: relative;
    display: inline-block;
    scale: 1.5;
    
}