



/* My Font-faces */
@font-face {
  font-family: 'mlAnek';
  src: url(resources/fonts/Anek_Malayalam/AnekMalayalam-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: 'oswald';
  src: url(resources/fonts/Oswald/Oswald-VariableFont_wght.ttf);
}


/* ------------------------------------------ */

/* My styles */

