.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  

  
/* Fonts */
/* Anek-Malayalam */
@font-face {
    font-family: 'anek-ml';
    src: url(/resources/fonts/Anek_Malayalam/AnekMalayalam-VariableFont_wdth\,wght.ttf);
}

/* Font-changa english */
@font-face {
    font-family: 'changa';
    src: url(../fonts/Changa/Changa-VariableFont_wght.ttf);
  }
  
/* font classes */
.malayalam{
    font-family: 'anek-ml',sans-serif;
}

.english{
    font-family: 'changa',sans-serif;
}

/* font-weights */
.fw-100{
    font-weight: 100;
}
.fw-200{
    font-weight: 200;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}
.fw-900{
    font-weight: 900;
}
.fw-1000{
    font-weight: 1000;
}

/* Common */
.bold{
  font-weight: 400;
}
  

*{
    font-family: 'changa', sans-serif;
  }

body{
    padding: 0;
    margin: 0;
    font-weight: 500;
    height: fit-content;
}

  
.navHead{
  text-decoration: none;
  font-family: 'changa',sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
}

.nav-item a{
  color: black !important;
  transition: opacity 0.3s;
}

.nav-item a:hover{
  opacity: 0.6;
}

.superHero{
  color: black;
}

.hero{
  min-height: 88vh;
  font-weight: 600;
}

.heroHead{
  opacity: 0.7;
  letter-spacing: 0.2rem;
}

.heroImgDiv{
  background-color: rgb(0, 0, 0);
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
}

.heroImg{
  border: 2px ridge rgb(0, 255, 247);
  border-radius: 12px;
  opacity: 0.8;
}

.heroImgSmall{
    border: 2px ridge rgb(0, 255, 247);
    border-radius: 50;
    opacity: 0.8;

}

.heroBtn:hover{
  color: #ffffff;
}
.carousel-item{
    min-height: 89vh;
    padding: 2%;
}